body {
  background-color: rgb(107, 23, 241);
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 2px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
}